<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/scripts/api.js"></script>
        <script type="text/javascript" src="/static/scripts/main.js"></script>
        <link href='https://fonts.googleapis.com/css?family=PT+Sans|Kaushan+Script' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/styles/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body class="about">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <nav>
          <h1 class="logo"><a href="/"><img src="/static/imgs/fox.png"/>Skillsera</a></h1>
          <form method="post" action="http://api.skillsera.org/v1/questions">
            <input type="text" placeholder="Search for a skill"/>
          </form>
        </nav>

        <div class="main-content">

          <h2>Problem</h2>
          <p>
            Youtube has a wealth of educational information. It also
            offers rich features like annotation overlays, suggested
            videos, and lists. It lacks an mechanism and interface
            sufficient for guiding learners through a variable,
            branching educational journey. A global way to encode that
            a video, an educational resource) depends on other videos;
            that it contains topics and information you may need to
            first learn elsewhere. Skillsera is a new type of wiki
            which allows users to connect videos into chains of
            explanations.
          </p>

          <h2>Goal</h2>
          <p>
            To create a single, unified curriculum. A database of
            directed dependency edges between youtube videos which are
            submitted and consensually vetted by the community as a wiki.
          </p>

          <h2>Inspiration</h2>
          <p>Skillsera is inspired
            by the likes of <a href="https://metacademy.org">Metacademy</a> and 
            <a href="https://www.khanacademy.org">Khan Academy</a>, two
            educational services which are axiomatically rooted in
            curricula and knowledge graphs.
          </p>

          <h2>Philosophy</h2>
          <ul>
            <li>Compete to find or produce the best video explanations</li>
            <li>Pay bounties to comission new video explanations for the world</li>
            <li>Vote for videos you find most helpful</li>
            <li>Tag videos with your questions, find dependencies to answers others' questions</li>
          </ul>
        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.2.min.js"><\/script>')</script>
    </body>
</html>
