<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/scripts/awesomplete.min.js"></script>
        <script type="text/javascript" src="/static/scripts/api.js"></script>
        <script type="text/javascript" src="/static/scripts/main.js"></script>
        <link href='https://fonts.googleapis.com/css?family=PT+Sans|Kaushan+Script' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/styles/style.css">
        <link rel="stylesheet" href="/static/styles/awesomplete.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <header>
          <h1 class="logo">Skillsera<img src="/static/imgs/fox.png"/></h1>
          <h3>
            A new type of encyclopedia which teaches skills by linking together bite-sized explanations from youtube videos.
          </h3>

          <form method="GET" action="/learn">
            <nav>
              <input type="text" name="q" id="searchBox" autofocus placeholder="Start with a question, like: What is matter?"/>
            </nav>
            <p>
              <button type="submit" class="button pcta">Search</button>
              <a href="/about" class="button">How it Works</a>
            </p>
          </form>

        </header>

        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.2.min.js"><\/script>')</script>
    </body>
</html>
